/* styles.css */
body {
    font-family: Arial, sans-serif;
}
.container {
    display: flex;
    flex-direction: column;
}
h1 {
    color: #333;
}
ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
}
li {
    flex: 1 1 0;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}
li:last-child {
    margin-right: 0;
}
li:hover {
    background-color: #f0f0f0;
}
form {
    display: inline;
}
